<?xml version="1.0" encoding="utf-8"?>
<ConfigurationSettings>
	<BrowserSettings>
		<Headless>true</Headless>
		<FirefoxPath>C:\Program Files\Firefox Developer Edition\firefox.exe</FirefoxPath>
		<DisableBotDetection>true</DisableBotDetection>
	</BrowserSettings>

	<Timeouts>
		<ImplicitWait>10</ImplicitWait>
		<PageLoad>30</PageLoad>
		<ScriptTimeout>15</ScriptTimeout>
	</Timeouts>
</ConfigurationSettings>